@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* @import url("https://fonts.googleapis.com/css?family=Kaushan+Script"); */

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: "Kaushan Script", cursive; */
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/* nav links */
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 40px;
  font-size: 2.5rem;
  color:var(--mainBlack);
}

.nav-link {
  color:var(--mainBlack);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 24px;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: rgb(223, 155, 9);
}

/* cart styles */
.cart-info__icon {
  color: rgb(133, 97, 19);
  cursor: pointer;
}

.cart-info {
  /* border: 1.6px solid #000; */
  border: 0.1rem solid #000;
  color: #000;
  border-radius: 0.25rem;
  /* padding: 6.4px 9.6px; */
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.cart-info:hover {
  background:var(--mainBlack);
  border-color: var(--mainBlack);
  color: #fff;
}
.cart-info:hover .cart-info__icon {
  color: #fff;
}


.max-height {
  min-height: calc(100vh - 76px);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(249, 228, 148, 0.5)),
      to(rgba(249, 228, 148, 0.5))
    ),
    url("../img/headerBcg.jpeg");
  background: linear-gradient(
      rgba(249, 228, 148, 0.5),
      rgba(249, 228, 148, 0.5)
    ),
    url("../img/headerBcg.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.banner {
  color: #fff;
  /* margin-top: -64px; */
  margin-top: -4rem;
}
.banner-title {
  color: rgb(133, 97, 19);
  /* font-size: 64px; */
  font-size: 4rem;
}
.banner-link {
  /* font-size: 24px; */
  font-size: 1.5rem;
  color: #000;
  border: 3.2px solid #000;
  border: 0.2rem solid #000;
}
.banner-link:hover {
  background: #000;
  color: rgb(223, 155, 9);
}